<!DOCTYPE html>
<html lang="zh-Hans-CN"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="components/basic" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${site.siteName + ' | ' + page.pageTitle}">AdminLTE 3 | DataTables</title>

    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{~/plugins/datatables-bs4/css/dataTables.bootstrap4.css}">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" th:href="@{~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">
    <!-- Buttons -->
    <link rel="stylesheet" th:href="@{~/plugins/buttons/buttons.css}">
    <link rel="stylesheet" th:href="@{~/dist/css/my.css}">
</head>
<body>
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->

        <div class="col-sm-6">
            <h1 layout:fragment="page-content-header-title" th:text="${page.pageTitle}">DataTables</h1>
        </div>

        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right" layout:fragment="page-content-header-thispath">
                <li class="breadcrumb-item"><a href="#" th:href="@{~/}">首页</a></li>
                <li class="breadcrumb-item active" th:text="${page.pageTitle}">DataTables</li>
            </ol>
        </div>

        </section>

        <!-- Main content -->
        <!--/*--> 业务界面写在这个section内。 <!--*/-->
        <section class="content" layout:fragment="main-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Hover Data Table</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>学籍编号</th>
                                    <th>studentId</th>
                                    <th>examRound</th>
                                    <th>proposedMajor</th>
                                    <th>postecode</th>
                                </tr>
                                </thead>


                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
    <!-- /.row -->

    </section>
    <!-- /.content -->
</div>

</div>
<!-- ./wrapper -->


<th:block layout:fragment="add-js">
    <!-- DataTables -->
    <script src="/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <!-- SweetAlert2 -->
    <script src="/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- InputMask -->
    <script src="/plugins/moment/moment.min.js"></script>
    <script src="/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <!-- date-range-picker -->
    <script src="/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- page script -->
    <!--/*--> 业务使用的js放置到resources/sattic/dist/js下，通过controller中PageUtils.bindPageData方法传入路径 <!--*/-->
    <script th:src="@{~/dist/js/{jslink}(jslink=${pagejs})}"></script>

</th:block>
<script>
    let zjkscxJq = $("#zjkscx-form [name=zjkscx]");
    $("#zjksccx-form [name=zjkscx]").click(function () {
        var url="/examround/selectExam"; //访问后台去数据库查询select的选项,此处需填写后台接口路径
        $.ajax({
            type:"get",
            url:url,
            success:function(userList){
                var unitObj=document.getElementById("mySelect"); //页面上的<html:select>元素
                if(userList.code==9999){
                    msgJq.addClass('text-danger');
                    msgJq.text(userList.message);
                }
                $("#mySelect").empty();
                unitObj.options.add(new Option("请选考次","",true,true));
                if(userList!=null){ //后台传回来的select选项
                    for(var i=0;i<userList.data.length;i++){
                        //遍历后台传回的结果，一项项往select中添加option
                        unitObj.options.add(new Option(userList.data[i].examround,userList.data[i].examround));
                    }
                }
            },
            error:function(){
                msgJq.alert('Error');
            }
        })
    });


    $("#zjkscx-form button").click(function () {



        var options=$("#mySelect option:selected");//获取选中的项
        var optionValue = options.val();
        var optionText = options.text();
        // alert("jquery方法拿到选中项的值： " + options.val());
        // alert("jquery方法拿到选中项的文本： " + options.text());


        let zjkscx = zjkscxJq.val();
        let url = "/zjkscx/showzjks";
        let dataObj = {
            value: optionValue,
            text: optionText
        }

        $.post(url, dataObj, function (jsonObject) {
            if (jsonObject.hasOwnProperty('code')) {
                if (jsonObject.code === 1111) {
                    alert(jsonObject.message);
                    location.replace('/');
                }else{
                    // msgJq.removeClass('text-danger');
                    // msgJq.addClass('text-info');
                    alert(jsonObject.message);
                }
            }
        });


    });
</script>
</body>
</html>