<!DOCTYPE html>
<html lang="zh-Hans-CN"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="components/basic" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${site.siteName + ' | ' + page.pageTitle}">AdminLTE 3 | DataTables</title>

    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{~/plugins/datatables-bs4/css/dataTables.bootstrap4.css}">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" th:href="@{~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">
    <!-- Buttons -->
    <link rel="stylesheet" th:href="@{~/plugins/buttons/buttons.css}">
    <link rel="stylesheet" th:href="@{~/dist/css/my.css}">
</head>
<body>
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->

        <div class="col-sm-6">
            <h1 layout:fragment="page-content-header-title" th:text="${page.pageTitle}">DataTables</h1>
        </div>

        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right" layout:fragment="page-content-header-thispath">
                <li class="breadcrumb-item"><a href="#" th:href="@{~/}">首页</a></li>
                <li class="breadcrumb-item active" th:text="${page.pageTitle}">DataTables</li>
            </ol>
        </div>

        </section>

        <!-- Main content -->
        <!--/*--> 业务界面写在这个section内。 <!--*/-->
        <section class="content" layout:fragment="main-content">
            <div class="box-body" style="padding: 50px;border: 1px solid blue;">
                <div class="clearfix">
                    <form class="form-horizontal">

                        <div class="form-group clearfix" >

                                <label style="display:block;float:left;width:65px;" class="col-md-1  control-label">学籍号</label>
                                <div class="col-md-2" style="float:left;width:100px;">
                                    <input type="text" style="width:160px;height:26px" class="input-sm form-control" id="admissionNumber" name="admissionNumber" placeholder="请输入登录名称...">
                                </div>



                            &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                            <button type="button" onclick="user_list_query();" class="btn btn-sm btn-primary" ><i class="fa fa-search"></i>搜索</button>
<!--                            <button type="button" onclick="user_list_add();" class="btn btn-sm btn-success" ><i class="fa fa-square-o"></i>增加</button>-->
<!--                            <button type="button" onclick="user_list_delete('1');" class="btn btn-sm btn-danger" ><i class="fa fa-remove"></i>删除</button>-->
<!--                            <button  type="button" onclick="user_list_reset();" class="btn btn-sm btn-default">重置</button>-->
                        </div>
                    </form>
                </div>
                <table id="user_tab" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th><input type="checkbox" title="全选" /></th>
                        <th>学籍编号</th>
                        <th>StudentId</th>
                        <th>登性别</th>
                        <th>用户名</th>
                        <th>加入时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
            </div>


    </section>
    <!-- /.content -->
</div>

</div>
<!-- ./wrapper -->


<th:block layout:fragment="add-js">
    <!-- DataTables -->
    <script src="/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <!-- SweetAlert2 -->
    <script src="/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- InputMask -->
    <script src="/plugins/moment/moment.min.js"></script>
    <script src="/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <!-- date-range-picker -->
    <script src="/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- page script -->
    <!--/*--> 业务使用的js放置到resources/sattic/dist/js下，通过controller中PageUtils.bindPageData方法传入路径 <!--*/-->
    <script th:src="@{~/dist/js/{jslink}(jslink=${pagejs})}"></script>

</th:block>

</body>
</html>